select{
	margin-left : 10px;
}
body {
	background-color : #e6f2ff;
}
#MenuDiv{
	display : inline-block;
	margin-right : 20px;
}
#SearchDiv{
	display : inline-block;
	font-size: 14px;
}
#FCDisplayDiv{
	display: inline-block;
	width : calc(100% - 10px);
	height : 75%;
	overflow-x:hidden;
	overflow-y: auto;
	top : 10px;
}
.MessageDiv{
	width : calc(100% - 20px);
	margin-left : 10px;
	padding-left : 5px;
	padding-top : 3px;
	padding-bottom : 8px;
	font-size : 16px;
}

.BrowseCards{
	width : calc(100% - 20px);
	margin-left : 10px;
	padding-left : 5px;
	padding-top : 3px;
	padding-bottom : 8px;
	font-size : 16px;
}

.BrowseCards:nth-child(odd){
	background-color : #e6f2ff;
}

#divCenter{
	width : 1000px;
	height: 100%;
	display: inline-block;
	background-color : white;
}

#divLeft{
	width : calc((100% - 1000px)/2);
	display: inline-block;
}

.CardInfoSpan{
	font-size : 14px;
	margin-right : 10px;
}

.DefSpan{
	
}

.AnswerButtonRight, .AnswerButtonWrong{
	display : inline-block;
	vertical-align : top;
	margin-right : 10px;
	margin-top: 10 px;
	width : 200px;
	height : 100px;
	height : 100px;
	overflow : hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.WordSpan{
	margin-right : 10px;
	font-weight : bold;
	text-align : center;
}

.WordDiv{
	margin-top : 50px;
	font-weight : bold;
	font-size : 30px;
	text-align : center;	
}

.ReadingDiv, .DefinitionDiv {
	margin-left : 8%;
}
